name: Build plugin

# Inspired by: https://github.com/xyhp915/logseq-journals-calendar/tree/main/.github/workflows
# and https://github.com/pengx17/logseq-plugin-template-react/blob/master/.github/workflows

env:
  PLUGIN_NAME: logseq-punch-clock

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "21.x" # You might need to adjust this value to your own version
      - name: Build with npm
        id: build
        run: |
          npm install
          npm run build
          TAG_NAME="$(git tag --sort version:refname | tail -n 1)"
          RELEASE_DIR="${{ env.PLUGIN_NAME }}-$TAG_NAME"
          mkdir "$RELEASE_DIR"
          cp LICENSE README.md package.json icon.png "$RELEASE_DIR"
          mv dist "$RELEASE_DIR"
          zip -r "${RELEASE_DIR}.zip" "$RELEASE_DIR"
          echo "$ ls -l ${PWD}/${RELEASE_DIR}"
          ls -l "$RELEASE_DIR"
          echo "$ ls -l $PWD"
          ls -l
          echo "release_zip=${RELEASE_DIR}.zip" >> $GITHUB_OUTPUT

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ steps.build.outputs.release_zip }}
